services:
  app:
    build: .
    ports:
      - "${PORT:-3000}:3000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/cat-api
      - PORT=3000
    depends_on:
      - mongodb
    networks:
      - app-network

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
